<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Orders - BarMazeto</title>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script
	src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script
	src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<link rel="stylesheet"
	href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"></link>
<link
	href="http://netdna.bootstrapcdn.com/font-awesome/2.0/css/font-awesome.css"
	rel="stylesheet"></link>
<link href="css/style.css" rel="stylesheet"></link>
<script src="moment.js"></script>
</head>
<body>
	<div ng-app="myApp" ng-controller="myCtrl" class="container"
		data-ng-init="authenticate()" ng-show="isAuthenticated">
		<nav class="navbar navbar-inverse navbar-fixed-top">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand" href="#">BarMazeto</a>
				</div>
				<ul class="nav navbar-nav">
					<li><a href="index.html">Home</a></li>
					<li class="active"><a href="order.html">Orders</a></li>
					<li><a href="statistics.html">Statistics</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li style="color: red"><br>Welcome, {{user}} !</li>
					<li><a href="" ng-click="logout()">Sign out</a></li>
				</ul>
			</div>
		</nav>
		<br> <br> <br> <br> <br>
		<div ng-hide="order != null">
			<h1 style="color: red;">Don't have orders yet.</h1>
		</div>
		<div ng-show="order != null">
			<table>
				<thead>
					<tr>
						<th>Time Started</th>
						<th>Time Finished</th>
						<th>Waiter</th>
						<th>Barman</th>
						<th>Type</th>
						<th>Options</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="product in order">
						<td>{{product.timeStarted | jsDate}}</td>
						<td>{{product.timeFinished | jsDate}}</td>
						<td>{{product.waiter.username}}</td>
						<td>{{product.barman.username}}</td>
						<td>{{product.type}}</td>

						<td>
							<button type="button" class="btn btn-success btn"
								ng-click="showDetails(product)" data-toggle="modal"
								data-target="#myModal2">Show details</button>
							<button type="button" class="btn btn-danger btn"
								ng-click="getTypes(product)" data-toggle="modal"
								data-target="#myModal">Change Status</button>
						</td>

					</tr>
				</tbody>
			</table>
		</div>
		<br> <br> <br>
		<div class="modal" id="myModal" role="dialog">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header well3">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 style="color: white">
							<span class="glyphicon glyphicon-wrench"></span> Change status
						</h4>
					</div>
					<div class="modal-body" style="padding: 40px 50px;">
						<form role="form">
							<div class=" form-group has-feedback centerdiv">
								<label for="date"><span class="glyphicon glyphicon-tint"></span>
									Choose Type:</label> <select id="mySel" class="form-control"
									ng-change="setType(type)" ng-model="type">
									<option ng-repeat="type in types">{{type}}</option>
								</select>
							</div>
							<button type="submit" ng-click="change(type)"
								class="btn btn-success" data-toggle="modal" data-dismiss="modal">
								<span class="glyphicon glyphicon-ok"></span> Change
							</button>
						</form>
					</div>
					<div class="modal-footer well3">
						<button type="submit" class="btn btn-danger btn-default pull-left"
							data-toggle="modal" data-dismiss="modal">
							<span class="glyphicon glyphicon-remove"></span> Cancel
						</button>
					</div>
				</div>
			</div>
		</div>
		<div class="modal" id="myModal2" role="dialog">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header well3">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 style="color: white">
							<span class="glyphicon glyphicon-eye-open"></span> Details
						</h4>
					</div>
					<div class="modal-body" style="padding: 40px 50px;">
						<form role="form">
							<div class=" form-group has-feedback centerdiv">
								<table>
									<thead>
										<tr>
											<th>Product name</th>
											<th>Quantity</th>
											<th>Price</th>
											<th>Sum</th>
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat="detail in details">
											<td>{{detail.product.name}}</td>
											<td>{{detail.quantity}}</td>
											<td>{{detail.product.price}}</td>
											<td>{{detail.product.price * detail.quantity}} <span
												class="glyphicon glyphicon-eur "></span></td>
										</tr>
										<tr>
											<td colspan="3">Total:</td>
											<td>{{ getTotal() }} <span
												class="glyphicon glyphicon-piggy-bank "></span></td>
										</tr>
									</tbody>
								</table>
							</div>
						</form>
					</div>
					<div class="modal-footer well3">
						<button type="submit" class="btn btn-danger btn-default pull-left"
							data-toggle="modal" data-dismiss="modal">
							<span class="glyphicon glyphicon-remove"></span> Cancel
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>


</body>
<script type="text/javascript">
	var app = angular.module('myApp', []);
	app.controller('myCtrl', function($scope, $http, $window) {
		$scope.isAuthenticated = false;
		$scope.user;
		$scope.selected;
		$scope.order;
		$scope.authenticate = function() {
			$http({
				method : 'GET',
				url : "rest/login/authenticated",
			}).success(function(data) {
				$scope.isAuthenticated = true;
				$http.get("rest/login/current").then(function(response) {
					$scope.user = response.data;
					$scope.get();
				})
			}).error(function(status, statusText) {
				$window.location.href = "http://localhost:8080/go/login.html";
			})
		}
		$scope.get = function() {
			$http.get("rest/order").then(function(response) {
				$scope.order = response.data;
			})
		}
		$scope.types;
		$scope.getTypes = function(product) {
			$http.get("rest/order/type").then(function(response) {
				$scope.types = response.data;
				$scope.selected = product;
			});
		}
		$scope.type;
		$scope.setType = function(type) {
			$scope.type = type;
		}
		$scope.change = function(product) {
			$http.put("rest/order/" + $scope.selected.idOrder, product).then(
					function(response) {
						$scope.get();
						console.log("change");
					}, function(){
						alert("Please first Accept it");
					});
		}
		$scope.details = [];
		$scope.showDetails = function(product) {
			$http.get("rest/order/details/" + product.idOrder).then(
					function(response) {
						$scope.details = response.data;
					});
		}

		function timer(){
			$scope.get();
			setTimeout(timer,5000);
		}
		timer();
		
		$scope.logout = function() {
			console.log("HERE");
			$http.get("rest/logout").then(function(response) {
				$window.location.href = "http://localhost:8080/go/login.html";
			});
		}

		$scope.getTotal = function() {
			var total = 0;
			for (var i = 0; i < $scope.details.length; i++) {
				var product = $scope.details[i];
				total += (product.product.price * product.quantity);
			}
			return total;
		}
	});
	app.filter("jsDate", function() {
		return function(x) {
			if (typeof x === "undefined") {
				return "";
			}
			return moment(x, "YYYYMMDDhhmmss").format("YYYY-MM-DD HH:mm:ss");
		};
	});
</script>
</html>